
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin sayfasına git</a>
<a asp-area="Member">Member sayfasına git</a>